*{
    font-family: Arial, Helvetica, sans-serif;
}
html {
    background-color: #ffffff;
}
body {
    background-color: #ffffff;
}
.bloco {
    display: flex;
}
.container {
    padding: 40px;
    width: 60%;
    border: 1px solid blue;
}
.divparciais{
    padding: 40px;
    width: 40%;
}
.divdatable{
    overflow-y: scroll;
    display: flex;
    flex-direction: column-reverse;
    height: 300px;
}
.palavra{
    border: 1px solid black;
    padding: 15px;
    display: flexbox;
    width: 100%;
    height: 6rem;
    color: red;
    font-size: 5rem;
    text-align: center;
}
.divdosbotoes{
    display: flex;
    padding: 10px;
    border: 1px solid;
    width: 50%;
    justify-content: space-around;
}
button{
    height: 100px;
    width: 160px;
    font-size: 2rem;
}
#tabela {
    border: 1px solid;
}
tr:nth-child(even) {
    background-color: #ffffff;
}
tr:nth-child(odd) {
    background-color: #eeeeee;
}
#tabela td{
    border-bottom: 1px solid red;
    width: 99px;
}