* {
  font-family: "Handineat", sans-serif;
}

html {
  background-color: #ffffff;
  background-image: url("./assets/fundo.jpg");
  background-size: cover;
}

body {
  background-color: rgba(127, 127, 127, 0.1);
}

#mensageminicial {
  font-size: 5vw;
}

.escolha {
  width: 50vw;
  padding: 10px;
  border: 1px solid;
  justify-content: center;
}

.escolha button {
  border: 1px solid;
  width: 100%;
  height: 15vh;
  margin-left: 10px;
  font-size: 5vw;
}

.bloco {
  display: flex;
  flex-wrap: wrap;
}

.container {
  flex-grow: 1;
  padding: 1rem;
  width: 60vw;
  min-width: 441px;
}

.divparciais {
  flex-grow: 1;
  padding: 3px;
  width: 30vw;
  min-width: 441px;
}

.divdatable {
  border: 1px solid black;
  overflow-y: scroll;
  display: flex;
  flex-direction: column-reverse;
  height: 300px;
}

.palavra,
.fonema,
.letra {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid black;
  padding: 15px;
  width: 90%;
  height: 7rem;
  color: red;
  text-align: center;
}
.letra{
  font-size: 11vh;
}

#letracursiva{
  font-family: 'Sacramento', cursive;
}

@media screen and (min-width: 600px) {
  .palavra {
    font-size: 6rem;
  }

  .fonema {
    font-size: 3.5rem;
  }
}

@media screen and (max-width: 599px) {
  .palavra {
    font-size: 11vw;
  }

  .fonema {
    font-size: 7vw;
  }
}

.titulo {
  font-size: 5rem;
  color: black;
}

.subtitulo {
  font-size: 2rem;
  color: black;
}

.divdosbotoes {
  display: flex;
  flex-direction: row;
  gap: 0.5rem; /* espaçamento vertical */
  width: 100%;
  margin: 0 auto; /* centralizar horizontalmente */
}

.divdosbotoes button{
  font-size: 5vh;
}

.botaocomecar {
  font-size: 2rem;
  height: 50px;
}

input[type="number"] {
  width: 100%;      /* ocupa largura máxima */
  box-sizing: border-box; /* para não ultrapassar a largura do pai */
  font-size: 2rem;
  padding: 0.25rem 0.5rem;
  margin-bottom: 0.5rem;
}

.botoes-linha {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.botoes-linha input[type="submit"],
.botoes-linha button {
  flex: 1;           /* dividem igualmente o espaço */
  height: 150px;
  font-size: 2rem;
  cursor: pointer;
}

#botaovoltar {
  border-radius: 15px;
  width: 50px;
  height: 50px;
}

#tabela {
  border: 1px solid black;
}

tr:nth-child(even) {
  background-color: #ffffff;
}

tr:nth-child(odd) {
  background-color: #eeeeee;
}

#tabela td {
  width: 99px;
}

.containerdorelogio {
  border: 1px solid white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  grid-template-rows: repeat(5, 1fr);
}

.titulodorelogio {
  grid-column: 1;
  grid-row: 1;
}

.divdosbotoesdorelogio {
  grid-column: 1;
  grid-row: 2;
  padding: 10px;
  border: 1px solid;
  height: 80%;
}
.divdosbotoesdorelogio button {
  font-size: 2rem;
}

#imgdorelogio {
  max-width: 100%;
  max-height: 100%;
}

.divdorelogio {
  background-image: url("./assets/relogiofundo.png");
  background-size: 800px 800px;
  width: 800px;
  height: 800px;
  grid-column: 2;
  grid-row: 1 / 5;
}

.divparciaisdorelogio {
  grid-column: 1;
  grid-row: 3 / 5;
}