* {
  font-family: "Handineat", sans-serif;
}
html {
  background-color: #ffffff;
  background-image: url("./assets/fundo.jpg");
  background-size: cover;
}
body {
  background-color: rgba(127, 127, 127, 0.1);
}
#mensageminicial {
  font-size: 5vw;
}
.escolha {
  display: flex;
  padding: 10px;
  border: 1px solid;
  height: 30vh;
}
.escolha button {
  margin-left: 10px;
  height: 95%;
  width: 40vw;
  font-size: 5vw;
}
.bloco {
  display: flex;
  flex-wrap: wrap;
}
.container {
  flex-grow: 1;
  padding: 1rem;
  width: 60vw;
  min-width: 441px;
  border: 1px solid blue;
}
.divparciais {
  border: 1px solid blue;
  flex-grow: 1;
  padding: 3px;
  width: 30vw;
  min-width: 441px;
}
.divdatable {
  overflow-y: scroll;
  display: flex;
  flex-direction: column-reverse;
  height: 300px;
}
.palavra,
.fonema {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid black;
  padding: 15px;
  width: 90%;
  height: 7rem;
  color: red;
  text-align: center;
}

@media screen and (min-width: 600px) {
  .palavra {
    font-size: 6rem;
  }
  .fonema {
    font-size: 3.5rem;
  }
}
@media screen and (max-width: 599px) {
  .palavra {
    font-size: 11vw;
  }
  .fonema {
    font-size: 7vw;
  }
}
.titulo {
  font-size: 5rem;
  color: black;
}
.subtitulo {
  font-size: 2rem;
  color: black;
}
#botaovoltar {
  border-radius: 15px;
  width: 50px;
  margin: 5px;
}
.divdosbotoes {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  border: 1px solid;
  width: 90%;
}
button {
  flex-grow: 1;
  height: 95%;
  width: 50%;
  font-size: 2rem;
}
#tabela {
  border: 1px solid;
}
tr:nth-child(even) {
  background-color: #ffffff;
}
tr:nth-child(odd) {
  background-color: #eeeeee;
}
#tabela td {
  border-bottom: 1px solid red;
  width: 99px;
}
